.funky-background {
  width: 80vw;
  height: 400px;
  background-color: midnightblue;
  color: oldlace;
}

@media screen and (min-width: 480px) {
 .funky-background {
   background-color: tomato;
   color: #333;
 }
}

@media screen and (min-width: 780px) {
  .funky-background {
    background-color: teal;
    color: yellow;
  }
  h1 {
    font-size: 60px;
  }
}

@media screen and (min-width: 1024px) {
  .funky-background {
    background-color: mediumaquamarine;
    color: lime;
  }
  h1 {
    font-size: 100px;
  }
}